# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/

# Databases
*.sqlite3
diet.db

# OS-specific files
.DS_Store
Thumbs.db

# Windows Executable
sqlite3.exe
